<h1 style="font-family: marker felt">Update what? &#128540;</h1>

<br>
<br>

<a href='{{ url_for("update_name")}}'>
    <button style="background-color: #a8a832;color:aliceblue;border-radius: 5px; font-size: 18px;">Student Name</button>
</a>
<br>
<br>
<a href='{{ url_for("update_email")}}'>
    <button style="background-color: #a8a832;color:aliceblue;border-radius: 5px; font-size: 18px;">Student Email</button>
</a>
<br>
<br>
<a href='{{ url_for("students")}}'>
    <button style="background-color: #003d87;color:aliceblue;border-radius: 5px; font-size: 18px;">Back to Lists</button>
</a>